<div class="container">
  <div>
    <h2>Ajouter un Bijoux :</h2>
  </div>
  <form>

    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Bijoux</label>
      <input type="text" [(ngModel)]="newBijoux.idBijoux" name="idBijoux" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Nom Bijoux</label>
      <input type="text" [(ngModel)]="newBijoux.nomBijoux" name="nomBijoux" class="form-control">
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Prix Bijoux</label>
      <input type="number" [(ngModel)]="newBijoux.prix" name="prixBijoux" class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date création</label>
      <input type="date" [(ngModel)]="newBijoux.dateCreation" name="dateCreation" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Marque</label>

      <select class="form-control form-control-lg" id="idMar" name="idMar" [(ngModel)]="newIdMar">
        <option *ngFor="let Mar of marques" [value]="Mar.idMar">
          {{Mar.nomMar}}
        </option>
      </select>
    </div>

    <div class="mt-2">
      <button type="submit" (click)="addBijoux()" class="btn btn-success">Ajouter</button>
      <div>
        <h3>{{message}}</h3>
      </div>

    </div>
  </form>
</div>