<div class="container">

  <div class="col-sm-4 col-md-4 col-lg-4 mb-4"> 
    <label>Marques </label> 
    <select class="form-control form-control-lg" id="idMar" name="idMar" [(ngModel)]="IdMarque" (change)="onChange()">
      <option *ngFor="let marque of marques" [value]="marque.idMar">
           {{ marque.nomMar }} 
      </option>
    </select> 
  </div>




  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Date Création</th>
            <th>Marque</th>
          </tr>
        </thead>
        <tbody *ngFor="let b of bijoux">
          <tr>
            <td>{{b.idBijoux}}</td>
            <td>{{b.nomBijoux}}</td>
            <td>{{b.prix}}</td>
            <td>{{b.dateCreation | date:'dd/MM/yyyy'}}</td>
            <td>{{b.marque.nomMar}}</td>
            <!--  <td><a class="btn btn-danger" (click)="supprimerbijoux(bijoux)">Supprimer</a></td>
                      <td><a class="btn btn-success" [routerLink]="['/updatebijoux',bijoux.idbijoux]">Modifier</a></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>